
.layout.grid {
  margin: 0 auto;
  text-align: left;
  clear: both;


  @include mq(smallscreens) {
    width: 970px;
    width: 1000px;
    margin: 0 auto;
  }

  > div {

    width: 100%;

    display: inline-block;
    &:nth-child(even) {

    }
    &:nth-child(odd) {

    }

    @include mq(smallscreens) {
      width: 50%;
      float: left;
    }
  }
  
  @extend %clearfix;
  
}

