.module.article-puff {
    position: relative;
    margin: 10px auto 0;
    background-color: rgba(255,255,255,1);
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    color: rgba(78,78,78,1);
    box-shadow: 2px 2px 3px 0px rgba(240,240,240,0.75);
    border: 1px solid rgba(240,240,240,1);
    border-radius: 4px;
    overflow: hidden;
    transform: translateZ(0);
    backface-visibility: hidden;
    width: 320px;

    
    @include mq(smallscreens) {
        width: 478px;
    }
    
    &:hover {
        .header figure { 
            opacity: 1;
            img {                
                transform: scale(1.15);
            }
        }
    }
    
    .header {
        position: relative;
        text-align: left;
        display: block;
        height: 208px;
        background-color: rgba(0,0,0,1);
        color: rgba(255,255,255,1);
        overflow: hidden;

        @include mq(smallscreens) {
            height: 312px;
        }
    
        figure {
            width: 100%;
            transition: opacity 0.2s linear;
            opacity: 0.7;
            img {
                transition: transform 0.5s ease;
                position: absolute;
                left: 0;
                width: 100%;
                z-index: 0;
                width: 100%;
            }
        }

        h2 {
            color: rgba(255,255,255,1);
            font-size: 24px;
            position: absolute;
            bottom: 0;
            left: 0;
            display: inline-block;
            z-index: 10;
            margin: 0;
            margin: 20px;
        }

    }
    .content {
        padding: 20px;
        height: 165px;

        @include mq(smallscreens) {
            height: 100px;
        }
        
        > div {
            display: inline-block;
            float: left;
            width: 55px;
            height: 50px;
            text-align: center;
            margin-right: 20px;

            time {
                padding: 5px;
                display: inline-block;
                color: rgba(118,118,118,1);
                background-color: rgba(245,245,245,1);
            }


        }
        > div + div {
            text-align: left;
            display: inline-block;
            float: left;
            width: 200px;
            @include mq(smallscreens) {
                width: 360px;
            }
            margin-right: 0;

        }



    }
    
}
