.icon-icon01 {
  background-image: url(/img/sprite.png);
  background-position: 0px 0px;
  width: 46px;
  height: 43px;
}
.icon-icon02 {
  background-image: url(/img/sprite.png);
  background-position: -47px 0px;
  width: 45px;
  height: 43px;
}
.icon-icon04 {
  background-image: url(/img/sprite.png);
  background-position: 0px -44px;
  width: 45px;
  height: 43px;
}
.icon-icon05 {
  background-image: url(/img/sprite.png);
  background-position: -46px -44px;
  width: 45px;
  height: 43px;
}
