/*******************************************************************************
VARIABLES
*******************************************************************************/

/********************************************************************************
BREAKPOINTS
*******************************************************************************/
$xsmallscreens  :   20.000em;
$smallscreens   :   970px;
$mediumscreens  :   64.063em;
$largescreens   :   90.063em;