/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
figure {
    margin: 0;
    padding: 0;
}

@import "extends";
@import "variables";
@import "mediaquery";
@import "layout-grid";
@import "module-author";
@import "module-quote";
@import "module-article-puff";
