<div class="layout grid debug">

    <div>
        @@include('./partials/_module-article-puff.html')
    </div>
    
    <div>
        @@include('./partials/_module-article-puff.html')
    </div>

    <div>
        @@include('./partials/_module-article-puff.html')
    </div>
    
    <div>
        @@include('./partials/_module-article-puff.html')
    </div>

    <div>
        @@include('./partials/_module-article-puff.html')
    </div>
    
    <div>
        @@include('./partials/_module-article-puff.html')
    </div>

    <div>
        @@include('./partials/_module-article-puff.html')
    </div>
    
    <div>
        @@include('./partials/_module-article-puff.html')
    </div>
    
</div>