<div class="module article-puff debug">
    <div class="header">
        <h2>Lower East - Fusce vehicula dolor arcu. Cras quis nulla commodo, aliquam lectus sed...</h2>
        <figure><img src="http://placeimg.com/478/312/people" alt=""></figure>
    </div>
    <div class="content">
        <div>
            <time datetime="2014-10-13">13 okt 2014</time>
        </div> 
        <div>Cras quis nulla commodo, aliquam lectus sed, blandit augue. 
            Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare...</div>
    </div>
</div>